<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf_token" content="<%= csrfToken %>">
    <title>Todo List </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <!--Header Start-->
            <%- include("header.ejs") %>
                <!--Header End-->
                <p class="py-3 text-white ">Welcome to Todo Manager</p>
                <p class="py-3 text-white">New here? <a href="/signup" class="text-orange-700">Sign-up now</a></p>
                <p class="py-3 text-white">Already have an Account? <a href="/login" class="text-orange-700">Sign-in</a>
                </p>
        </div>
    </div>
</body>

</html>